bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/
/.vscode/
/.vs/
/NoAcg/Properties/PublishProfiles/FolderProfile.pubxml.user
/NoAcg/Properties/PublishProfiles/FolderProfile.pubxml
/NoAcg/NoAcg.csproj.user
